
<div
    class="table-responsive"
>
    <table
        class="table table-primary"
    >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Identificador</th>
                <th scope="col">Cantidad</th>
                <th scope="col">costo</th>
                <th scope="col">Precio al publico</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track $index) {

                <tr class="">
                    <td scope="row">{{producto.productoId}}</td>
                    <td >{{producto.nombre}}</td>
                    <td>{{producto.identificador}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.costo}}</td>
                    <td>{{producto.precioAlPublico}}</td>
                    <td>{{producto.ubicacion}}</td>
                    <td><a href="#" class="btn btn-primary" [routerLink]="['/editar-producto', producto.productoId]" >Editar</a></td>
                </tr>
            }
                
        </tbody>
    </table>
</div>


